#home-bg {
    background-color: #696969;
    color: #FFFFFF;
    background-image: url("https://images.unsplash.com/photo-1517824806704-9040b037703b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

img {
    width: 2rem;
}

main {
    margin-top: 30%;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 130%;
}
