#login-bg {
    background-color: #696969;
    color: #FFFFFF;
    background-image: url("https://images.unsplash.com/photo-1512092185028-631db13fbe52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=770&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 60%;

    height: 100%;
    width: 100%;
}

.top-border {
    border: 2px solid;
    border-bottom: 0px;
}

.bot-border {
    border: 2px solid;
    border-top: 0px;
}